@charset "UTF-8";
/* ----General Styling---- */

/* Set the box sizing to border-box and make it inheritable */
html {
	box-sizing: border-box;
    /* Also set the font family the majority of the page will use */
    font-family: sans-serif;
}
*, *:before, *:after {
	box-sizing: inherit;
}

#container {
    display: flex;
    flex-direction: column;
}
main {
    display: grid;
    grid-template-areas: 
        "image livewell"
        "image style"
        "aside health";
    
}


h1, h2 {
    font-family: serif;
    margin: 0;
}
/* Make all h2s lowercase */
h2 {
    text-transform: lowercase;
    font-size: 3rem;
}


/* ----Header----*/
header h1 {
    color: orangered;
    text-transform: lowercase;
    font-size: 10rem;
    text-align: center;
    
}
header p {
    position: absolute;
    left: 1rem;
    top: 0;
}


/* ----Main Body---- */

/* All Sections */
section {
    width: 50%;
    height: 33%;
    margin: 0 auto;
}
section li h3, section li p {
    display: inline-block;
    margin-right: 10px;
}

/* Section 1 */
section:nth-of-type(1) {
    border-top: 10px solid olivedrab;
    grid-area: livewell;
}
section:nth-of-type(1) h3 {
    color: olivedrab;
    text-transform: uppercase;
}

/* Section 2 */
section:nth-of-type(2) {
    border-top: 10px solid deeppink;
    grid-area: style;
}
section:nth-of-type(2) h3 {
    color: deeppink;
    text-transform: uppercase;
}

/* Section 3 */
section:nth-of-type(3) {
    border-top: 10px solid deepskyblue;
    grid-area: health;
}
section:nth-of-type(3) h3 {
    color: deepskyblue;
    text-transform: uppercase;
}

/* Asides */
aside {
    margin-left: 5%;
}
aside:nth-of-type(1) {
    grid-area: image;
}
aside:nth-of-type(2) {
    border: 2px solid orange;
    grid-area: aside;
}

/* Footer */
footer {
    text-align: right;
    margin: 10px;
}
footer em {
    color: orangered;
}