@charset "UTF-8";

/* Set the box sizing to border-box and make it inheritable */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

section:nth-of-type(1) {
    border-top: 10px solid limegreen;
}
section:nth-of-type(2) {
    border-top: 10px solid deeppink;
}
section:nth-of-type(3) {
    border-top: 10px solid deepskyblue;
}

section h2 {
    text-transform: lowercase;
}